@font-face {
  font-family: brandFont;
  src: url("./fonts/Cocogoose Pro-trial.ttf");
}

@font-face {
  font-family: font4all;
  src: url("./fonts/SELENA MARIN.ttf");
}

@font-face {
  font-family: playfont;
  src: url("./fonts/Gamer.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#mainContainer {
  background: #f4f6ff;
}

header {
  z-index: 998;
  height: 8vh;
  width: 100%;
  background: yellow;
  -webkit-box-shadow: 0px 1px 5px grey;
          box-shadow: 0px 1px 5px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}

header #headerIMG {
  margin-left: 1vw;
  font-size: 4.5vh;
  color: black;
}

header #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.7vw;
}

header #header .brandLogo {
  text-transform: uppercase;
  color: black;
  font-family: brandFont;
  line-height: 2.8vh;
  font-size: 3vh;
}

header #menuBtn {
  width: 23%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: black;
}

header #menuBtn .fa-bars {
  font-size: 3vh;
  cursor: pointer;
}

#nav-bar {
  z-index: 999;
  position: fixed;
  top: 0;
  right: -30vw;
  width: 10%;
  height: 100%;
  background: yellow;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 1px 3px grey;
          box-shadow: 0px 1px 3px grey;
}

#nav-bar #nav-links {
  list-style: none;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#nav-bar #nav-links #nav-link,
#nav-bar #nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #07031a;
  font-family: brandFont;
  font-size: 0.7vw;
  margin-left: 1vw;
}

#nav-bar.active {
  right: 0;
}

main {
  margin-top: 8.6vh;
  max-width: 100vw;
  margin-right: 0.3vw;
  margin-left: 0.3vw;
}

main #phaseOneContent {
  height: 90.7vh;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
  -ms-grid-columns: (1fr)[16];
      grid-template: repeat(8, 1fr)/repeat(16, 1fr);
  gap: 0.3vw;
}

main #phaseOneContent .phaseOneBox {
  border-radius: 0.2vw;
  -webkit-box-shadow: 0px 1px 3px grey;
          box-shadow: 0px 1px 3px grey;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: opacity 300ms ease-out, -webkit-filter 300ms ease-out;
  transition: opacity 300ms ease-out, -webkit-filter 300ms ease-out;
  transition: filter 300ms ease-out, opacity 300ms ease-out;
  transition: filter 300ms ease-out, opacity 300ms ease-out, -webkit-filter 300ms ease-out;
  opacity: 0.7;
}

main #phaseOneContent .phaseOneBox:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

main #phaseOneContent .A {
  -ms-grid-column: 4;
  -ms-grid-column-span: 10;
  grid-column: 4 / 14;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / 7;
  background: yellow;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #phaseOneContent .A img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #phaseOneContent .B {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

main #phaseOneContent .B img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #phaseOneContent .C {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background: #512d6d;
}

main #phaseOneContent .D {
  -ms-grid-column: 4;
  -ms-grid-column-span: 13;
  grid-column: 4 / 17;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / 9;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #phaseOneContent .D .switches {
  height: 7vw;
  width: 7vw;
}

main #phaseOneContent .D .switches .brandSwitches {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main #phaseOneContent .E {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #833ab4;
}

main #phaseOneContent .E h1 {
  font-size: 2vw;
}

main #phaseOneContent .H {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: blue;
}

main #phaseOneContent .H .fa-angle-double-right {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .linkedin {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0073b2;
}

main #phaseOneContent .linkedin .fa-linkedin-in {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .github {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

main #phaseOneContent .github .fa-github {
  font-size: 4vw;
  color: white;
}

main #phaseOneContent .I {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #phaseOneContent .I .fa-angle-double-left {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .kbModel {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  overflow: hidden;
}

main #phaseOneContent .kbModel img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #phaseOneContent .K {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1da1f2;
}

main #phaseOneContent .K h1 {
  font-size: 1.5vw;
}

main #phaseOneContent .L {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #53b8bb;
}

main #phaseOneContent .L h1 {
  text-transform: uppercase;
  font-size: 3.5vw;
  margin-left: 1vw;
  font-family: font4all;
}

main #phaseOneContent .M {
  -ms-grid-column: 14;
  -ms-grid-column-span: 3;
  grid-column: 14 / 17;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
}

main #phaseOneContent .M img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #phaseOneContent .facebook {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #046ee5;
}

main #phaseOneContent .facebook .fa-facebook-f {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .twitter {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1da1f2;
}

main #phaseOneContent .twitter .fa-twitter {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .reddit {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff3f01;
}

main #phaseOneContent .reddit .fa-reddit-alien {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .instagram {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #fd1d1d);
}

main #phaseOneContent .instagram .fa-instagram {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .tiktok {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

main #phaseOneContent .tiktok .fa-tiktok {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .pinterest {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e60829;
}

main #phaseOneContent .pinterest .fa-pinterest {
  font-size: 3vw;
  color: white;
}

main #phaseOneContent .social {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  background: yellow;
}

main #phaseOneContent .social #socialContent {
  height: 100%;
  font-family: font4all;
  font-size: 2vw;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  padding: 0.5vw;
}

main #extraBG {
  max-width: 100%;
  position: relative;
}

main #extraBG img {
  height: 100;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, black), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, black), to(transparent));
          mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

main #extraBG #phaseTwoContent {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 995;
  bottom: 25vh;
}

main #extraBG #phaseTwoContent h4 {
  margin-bottom: 2vh;
  text-transform: uppercase;
  font-size: 1vw;
  font-family: brandFont;
}

main #extraBG #phaseTwoContent #featureContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #extraBG #phaseTwoContent #featureContainer .feature {
  height: 7vw;
  width: 7vw;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

main #extraBG #phaseTwoContent #featureContainer .feature img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main #testHeader {
  margin-bottom: 10vh;
  text-transform: uppercase;
  font-size: 1vw;
  font-family: brandFont;
  text-align: center;
}

main #sitebackers {
  height: 50vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
  -ms-grid-columns: (1fr)[5];
      grid-template: repeat(1, 1fr)/repeat(5, 1fr);
  gap: 2vw;
}

main #sitebackers .testimonial {
  height: 100%;
  width: 100%;
}

main #sitebackers .testimonial h5,
main #sitebackers .testimonial h6 {
  font-family: brandFont;
  text-transform: uppercase;
  margin-top: 0.3vh;
  margin-bottom: 0.3vw;
}

main #sitebackers .testimonial .testIMGContainers {
  height: 70%;
  width: 100%;
}

main #sitebackers .testimonial .testIMGContainers img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #sitebackers .billGates {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main #sitebackers .zuckerber {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main #sitebackers .faker {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main #sitebackers .bjgersen {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main #sitebackers .shroud {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main #categoryContainer {
  margin-top: 1vh;
  height: 70vh;
  max-width: 100%;
  background: yellow;
}

main #categoryContainer h6 {
  padding-top: 7vh;
  text-align: center;
  font-family: brandFont;
  text-transform: uppercase;
  font-size: 1vw;
}

main #categoryContainer #categories {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #categoryContainer #categories .catBox {
  height: 80%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

main #categoryContainer #categories .catBox .catBoxIMG {
  height: 70%;
  width: 100%;
}

main #categoryContainer #categories .catBox .catBoxIMG img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #categoryContainer #categories .catBox .nameBox {
  height: 30%;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #categoryContainer #categories .catBox .nameBox h1 {
  color: #f4f6ff;
  font-family: playfont;
  font-size: 2.5vw;
}

main #categoryContainer #categories .catBox:hover {
  opacity: 0.5;
}

main #actionContainer {
  height: 70vh;
  max-width: 100%;
  background: #f4f6ff;
}

main #actionContainer h1 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
  font-family: brandFont;
  text-transform: uppercase;
  font-size: 1vw;
}

main #actionContainer #actionGrid {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
  -ms-grid-columns: (1fr)[8];
      grid-template: repeat(6, 1fr)/repeat(8, 1fr);
  gap: 1vh;
}

main #actionContainer #actionGrid video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #actionContainer #actionGrid img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #actionContainer #actionGrid .V1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

main #actionContainer #actionGrid .V2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

main #actionContainer #actionGrid .V3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

main #actionContainer #actionGrid .V4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 /5;
}

footer {
  height: 20vh;
  max-width: 100vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  background: yellow;
  position: relative;
}

footer #footerContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer #footerContainer form {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer #footerContainer form #email {
  width: 15%;
}

footer #footerContainer form #submit {
  width: 2%;
}

footer h1 {
  margin-top: 5vh;
  text-transform: uppercase;
  font-family: brandFont;
  font-size: 1vw;
  width: 21%;
}

footer h6 {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 41.5vw;
  bottom: 1vh;
  z-index: 990;
}

@media all and (max-width: 720px) {
  header {
    position: fixed;
    z-index: 999;
  }
  header #headerIMG {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #header {
    display: none;
  }
  #nav-bar.active {
    top: 8vh;
  }
  #nav-bar {
    z-index: 998;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 45%;
  }
  #featureContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  background: red;
}
/*# sourceMappingURL=style.css.map */